<!DOCTYPE html>
<html>
<head>
  <title>Cargar Archivo Excel</title>
  {% load static %}
  <style>
    /* Estilos carga excel */
  body {
    font-family: Arial, sans-serif;
  }
  
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  </style>
</head>
<body>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="excel_file" accept=".xlsx">
    <button type="submit">Cargar</button>
  </form>
</body>
</html>