{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'style.css' %}>
    <title>Login estudiante</title>
</head>
<body>

    <main>
        <div class="container">
          <h1>Login</h1>
          {% if error_message %}
              <p class="error-message"><strong>{{ error_message }}</strong></p>
          {% endif %}
          <form method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="correo">Correo electrónico:</label>
                <input type="email" id="correo" name="correo" required>
              </div>
              <div class="form-group">
                  <label for="password">Password:</label>
                  <input type="password" class="form-control" name="password" id="password">
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
          </form>
      </div>
    </main>
</body>
</html>