{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'style.css' %}>
    <title>Estudiantes app</title>
</head>
<body>

    <main>
        <h1 class="main-title">Estudiantes</h1>
        <a href="{% url 'create_estudiante' %}">
            <button class="button create">Crear Estudiante</button></a>
        <table>
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Código</th>
                    <th>Correo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for estudiante in estudiantes %}
                <tr>
                    <td><img src="{{estudiante.foto.url}}" height="100"/></td>
                    <td>{{estudiante.nombre}}</td>
                    <td>{{estudiante.apellido}}</td>
                    <td>{{estudiante.codigo}}</td>
                    <td>{{estudiante.correo}}</td>
                    <td>
                        <a href="{% url 'edit_estudiante' estudiante.id %}" class="button edit-button">Editar</a>
                        <form 
                            action="{% url 'delete_estudiante' estudiante.id %}" 
                            method="POST" 
                            class="delete-form"
                            onsubmit="return confirm('¿Estás seguro de que quieres eliminar este estudiante?');"
                            >
                            {% csrf_token %}
                            <button class="button delete">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>