/* Estilos para el cuerpo de la página */
body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para la sección principal de la página */
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos para la tabla */
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  table th,
  table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  table th {
    background-color: #f7f7f7;
  }
  
  /* Estilos para el botón de editar */
  .edit-button {
    background-color: #3f51b5;
    color: #fff;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 4px;
  }
  
  .edit-button:hover {
    background-color: #111
  }  

  button.create {
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color de texto */
    padding: 12px 24px; /* Espacio alrededor del texto */
    border: none; /* Sin borde */
    border-radius: 4px; /* Esquinas redondeadas */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
    font-size: 16px; /* Tamaño de la fuente */
    font-weight: bold; /* Texto en negrita */
    text-transform: uppercase; /* Texto en mayúsculas */
    margin-right: 16px; /* Margen a la derecha para separarlo de otros elementos */
  }

  button.delete {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 4px;
  }

  .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .button.creates {
    background-color: #007bff;
    color: white;
  }
  
  .button.cancel {
    background-color: #e9ecef;
    color: #343a40;
    margin-right: 10px;
  }
  
  .button:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

/* Estilos carga excel */
body {
  font-family: Arial, sans-serif;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

input[type="file"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}