{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'style.css' %}>
    <title>Eliminar estudiante</title>
</head>
<body>

    <main>
        <h1>Eliminar estudiante</h1>

        <p>Estás seguro que deseas eliminar a {{ estudiante.nombre }} {{ estudiante.apellido }}?</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger" onclick="return confirm_delete()">Eliminar</button>
            <a href="{% url 'view_estudiante' %}" class="btn btn-primary">Cancelar</a>
        </form>

        <script>
            function confirm_delete() {
            return confirm('¿Estás seguro que deseas eliminar este estudiante?');
            }
        </script>

    </main>
</body>
</html>

{% extends 'view_estudiante.html' %}

{% block content %}

  <h1>Eliminar estudiante</h1>

  <p>Estás seguro que deseas eliminar a {{ estudiante.nombre }} {{ estudiante.apellido }}?</p>

  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger" onclick="return confirm_delete()">Eliminar</button>
    <a href="{% url 'view_estudiante' %}" class="btn btn-primary">Cancelar</a>
  </form>

  <script>
    function confirm_delete() {
      return confirm('¿Estás seguro que deseas eliminar este estudiante?');
    }
  </script>

{% endblock %}