{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'style.css' %}>
    <title>Actualizar estudiante</title>
</head>
<body>

    <main>
        <div class="main-form">
            <h1 class="main-title">Actualizar Estudiante</h1>
            <form method="POST" class="main-form-edit">
                {% csrf_token %}
                {% for form in forms %}
                <div class="main-form-edit--container">
                    <label for="">{{ form.label }}</label>
                    <input 
                    type="{{ form.field.widget.input_type }}"
                    name="{{ form.name }}"
                    id=""
                    placeholder="{{ form.label }}"
                    value="{{ form.value | default:'' }}"
                    />
                </div>
                <div>
                    {{ form.errors }}
                </div>
                {% endfor %}
                <div class="main-form--edit_buttons">
                     
                    <button class="button create">Update</button></a>
                    <a href={% url 'estudiantes' %}>
                        <button class="button delete">Cancel</button></a>
                </div>
            </form>
        </div>
    </main>
</body>
</html>